<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dispaly ALL</title>
</head>
<body>
    <h3><a href="{% url 'home' %}">HOME</a></h3><br><br>
    <h1>EMPLOYEE INFORMATION</h1>
    <table border="1">
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for emp in employees %}
      <tr>
        <td>{{ emp.empid }}</td>
        <td>{{ emp.empname }}</td>
        <td>{{ emp.email }}</td>
        <td>
            <a href="/update/{{emp.pk}}/">Edit</a>
        </td>
        <td>
            <a href="/delete/{{emp.pk}}/">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table><br> <br>
    <h3>Want to Insert More Employees? </h3><button><a href="{% url 'create' %}">ADD</a></button>
</body>
</html>